@media only screen and (min-width: 64em) {

    header button {
        display: none;
    }

	#header-logo {
		margin-top: 0px;
	}

    
	
	nav {
		grid-row: 1;
		grid-column: 4/5;
	}
	
	nav ul#primary-nav {
        display: flex;
		margin: 0px;
		padding: 0rem;
		width: 500px;
        justify-content: left;
		text-decoration: goldenrod underline;
    }

	nav ul li a {
		padding-left: 2rem;
		padding-right: 2rem;
		padding-top: 60px;
		padding-bottom: 0px;
		height: 40px; 
		
	}


/* 
	
	.calltoaction {
		grid-row: 6;
		grid-column: 1;
	} */
	


	#instructions {
		margin-bottom: 30px;
	}

}