@media only screen and (min-width: 32.5em) {


.calltoaction {
    grid-row: 6;
    grid-column: 1;
}

#nav-icon, .fa-brands {
    margin: 0 1rem;
}

#website {
    margin-bottom: 1rem;
}

.submit_info_button {
    width: 400px;
}

input {
    height: 3rem;
    width: 400px;
}



}